In [2]:
import pandas as pd
import joblib

In [58]:
df = pd.DataFrame()
df['text'] = ['''In December 2016, Google Duo replaced Hangouts within the suite of Google apps device manufacturers must install in order to gain access to the Google Play, with Hangouts instead becoming optional.[5]

In August 2020, it was reported that Google was planning to eventually merge Google Duo with the business-oriented Google Meet.[6] In December 2021 this objective had been dropped, but Duo continued to be available and updated.[7][1] In June 2022, Google reversed course and announced that Duo and Meet would, in fact, be merged.[8] The merger began in August, with the Duo mobile app renamed to Meet and the original Meet app renamed "Meet Original" and scheduled to be phased out. Google had said the Duo web app would redirected to the Google Meet web app, but as of April 2023, video calling and meetings are still separate on the web at duo.google.com and meet.google.com.[9]

Google Duo was optimized for low-bandwidth mobile networks through WebRTC and uses QUIC over UDP. Optimization was further achieved through the degradation of video quality through monitoring network quality.[10] For packet loss concealment, Duo used Google DeepMind.[11]

In February 2021, Google announced a new very low-bitrate codec for speech compression called "Lyra" that could operate with network speeds as low as 3kbps that avoided robotic voice audio and that was to be rolled out to Duo.[12]

According to a technical study commissioned by Google from Signals Research Group in 2017 that compared degradation time over 3G,4G,5G and Wi-Fi, Duo provided the highest voice and video quality of any service or app.[13][14]

"Knock Knock" showed a live preview of the caller before the recipient picked up, which Google said was to "make calls feel more like an invitation rather than an interruption".[15]

In March 2017, it was announced that Google Duo would let users make audio-only calls. The feature was first launched in Brazil,[16][17][18] with a global rollout in April.[19]

A year later in March 2018, video and voice messages were added to Duo. Users could leave messages up to 30 seconds long for contacts who were unavailable.[20]

Support for eight-person video calls in both the iOS and Android versions of the app was added in May 2019.[21] In line with similar group calling offerings from FaceTime, Skype, WhatsApp, and Messenger, participants could join or leave the conversation at any time. Google Duo increased the maximum group size to 12 at the end of March 2020,[22][23] and to 32 by May 2022.[1]''']

In [59]:
df.head()

                                                text
0  In December 2016, Google Duo replaced Hangouts...

In [60]:
df.to_csv('input.csv', index=False)

In [9]:
tf = pd.read_csv('input.csv')

In [10]:
tf.head()

,text,cleaned_text,char_count,word_count,word_density,punctuation_count,upper_case_count,title_word_count,noun_count,adv_count,...,flesch_kincaid_score,flesch_score,gunning_fog_score,coleman_liau_score,dale_chall_score,ari_score,linsear_write_score,spache_score,ner_count,error_length
0,"In December 2016 , Google Duo replaced Hangout...",in december google duo replaced hangouts withi...,2295,391,0.17037,111,101,79,133,14,...,153.4,-308.48,160.29,12.45,27.47,197.0,62.0,57.73,43,87

In [23]:
tf_f = pd.read_csv('input_format.csv')

In [24]:
tf_f.head()

,text,cleaned_text,char_count,word_count,word_density,punctuation_count,upper_case_count,title_word_count,noun_count,adv_count,...,young cows and,young people are,your car usage,your cell phone,your life and,your phone while,your time and,your time sincerely,youre going to,youre trying to
0,The iPhone 6 and iPhone 6 Plus are smartphones...,the iphone and iphone plus are smartphones tha...,2361,385,0.163066,90,99,50,124,11,...,0,0,0,0,0,0,0,0,0,0

In [35]:
tf_f2 = tf_f.columns[:43]

In [36]:
tf_f2.head()

AttributeError: 'Index' object has no attribute 'head'

In [10]:
tf_f = tf

In [21]:
common_columns = list(set(tf.columns).intersection(tf_f.columns))
# Create tf_f with the common columns
tf_f = tf[common_columns] if common_columns else pd.DataFrame()
# Now tf_f will have only the columns present in both tf and tf_f
tf_f.head()

,to support,critics,error_length,linsear_write_score,ner_count,topic_3_score,topic_7_score,aspects,topic_11_score,it the,...,and they are,topic_12_score,eighth,extremely,the most,topic_18_score,dropped,on the,and they,topic_19_score
0,1,1,71,61.0,38,0.997539,0,1,0,1,...,1,0,1,1,1,0,1,1,1,0

In [5]:
model = joblib.load('model/rf_model.pkl')

In [11]:
new_X = tf.drop(['text', 'cleaned_text'], axis=1)

In [12]:
new_X.head()
# print("Shape of new_text_features:", new_X.shape)
# print("Data types of new_text_features:", new_X.dtypes)
# new_X.drop(new_X.columns[-2:], axis=1, inplace=True)

,char_count,word_count,word_density,punctuation_count,upper_case_count,title_word_count,noun_count,adv_count,verb_count,adj_count,...,flesch_kincaid_score,flesch_score,gunning_fog_score,coleman_liau_score,dale_chall_score,ari_score,linsear_write_score,spache_score,ner_count,error_length
0,2295,391,0.17037,111,101,79,133,14,75,29,...,153.4,-308.48,160.29,12.45,27.47,197.0,62.0,57.73,43,87

In [15]:
prediction_proba = model.predict_proba(new_X)
prediction = model.predict(new_X)

print("Prediction Probabilities:", prediction_proba)

# Display the result
if prediction == 0:
    print("The text is predicted to be human-generated.")
else:
    print("The text is predicted to be AI-generated.")

Prediction Probabilities: [[0.52 0.48]]
The text is predicted to be human-generated.