In [1]:
import pandas as pd
import re
from nltk.tokenize import word_tokenize

In [2]:
df = pd.read_csv('input.csv')

In [3]:
# Handling missing values

print(df.isna().sum())

df = df.dropna()

text    0
dtype: int64

In [4]:
# Data Cleaning

def clean_text(text):
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = text.lower()

    words = word_tokenize(text)

    cleaned_text = ' '.join(words)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text).strip()
    return cleaned_text

df['cleaned_text'] = df['text'].apply(clean_text)

In [5]:
# Space remover

def space_remover(text):
    words = word_tokenize(text)
    text = ' '.join(words)
    return re.sub(r'\s+', ' ', text).strip()

df['text'] = df['text'].apply(space_remover)

In [6]:
df.head()

,text,cleaned_text
0,"In December 2016 , Google Duo replaced Hangout...",in december google duo replaced hangouts withi...

In [7]:
df.to_csv('input.csv', index=False)